---
id: 1
title: 'Get Out!'
date: '2008-08-22T09:19:23-05:00'
author: admin
layout: default
guid: 'https://getout-montrehack.skullsecurity.org/'

header: full
---


<a href="/welcome">
  <div style="margin: 20px; padding: 10px; background-color: red; width: fit-content; cursor: pointer">
    <p><strong><em>Just starting? Click me for instructions!</em></p>
  </div>
</a>

<!-- This loops through the paginated posts -->

{% assign posts = site.posts | sort: 'date' %}
{% for post in site.posts %}
  {% include post-blurb.html post=post %}
{% endfor %}

